body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#calendar {
    width: 900px;
    margin: 40px auto;
}

.fc-event.inreview {
    background-color:red;
}

.fc-event.issued {
    background-color: green;
}

.fc-event.estimate {
    background-color: orange;
}

.fc-event.readytoissue {
    background-color: darkgreen;
}
